#### Compute the volume of a sphere given its radius

In [8]:
import math
#V=4/3Ï€r^3
def vol(rad):
    return (4/3)*math.pi*(rad**3)

In [9]:
vol(2)

33.510321638291124

#### Write a function that checks whether a numer is in a given range inclusive

In [16]:
def ran_check(num,low,high):
    if num >= low and num <= high:
        print(f'{num} is in the range between {low} and {high}')

In [17]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [21]:
def ran_bool(num,low,high):
    if num >= low and num <= high:
        return True
    else:
        return False

In [22]:
ran_bool(3,1,10)

True

In [34]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [35]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [36]:
def unique_list(lst):
    # Also possible to use list(set())
    x = []
    for a in lst:
        if a not in x:
            x.append(a)
    return x

In [37]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [48]:
def multiply(numbers):
    x = 1
    for b in numbers:
        x=x*b
    return x

In [49]:
multiply([1,2,3,-4])

-24

In [69]:
def pal(x):
    return x[::-1].replace(" ", "")==x.replace(" ", "")

In [73]:
pal('racecar')

True

In [74]:
pal('nurses run')

True

In [75]:
pal('madam')

True

In [89]:
import string
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [90]:
x = "The quick brown fox jumps over the lazy dog"

In [91]:
x.replace(" ", "").lower()

'thequickbrownfoxjumpsoverthelazydog'

In [127]:
def ispangram(x):
    abc = str(string.ascii_lowercase)
    for i in x.replace(" ","").lower():
        abc = abc.replace(i,"")
    return len(abc)==0

In [129]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [131]:
ispangram("Name")

False