# Map

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
map(square,my_nums)

In [5]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [6]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [9]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [10]:
names = ['Andy','Eve','Sally']

In [11]:
list(map(splicer,names))

['EVEN', 'E', 'S']

# Filter

In [13]:
def check_even(num): #has to return true false for filter
    return num%2 == 0

In [14]:
mynums = [1,2,3,4,5,6]

In [15]:
filter(check_even,mynums)

In [16]:
list(filter(check_even,mynums))

[2, 4, 6]

# Lambda

In [17]:
def square(num):
    result = num ** 2
    return result

In [18]:
square(3)

9

In [19]:
def square(num):
    return num ** 2

In [20]:
square(3)

9

In [21]:
def square(num): return num ** 2

In [22]:
square(3)

9

In [23]:
lambda num: num ** 2

In [24]:
square = lambda num: num ** 2

In [25]:
square(5)

25

In [26]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [27]:
list(filter(lambda num:num%2 ==0,mynums))

[2, 4, 6]

In [28]:
names

['Andy', 'Eve', 'Sally']

In [30]:
list(map(lambda x:x[0],names))

['A', 'E', 'S']

In [32]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']